
/* Footer */

footer{
    background:#353535 ;
    color: white;
    padding: 15px;
    font-family: $typo-secondaire;
    height: auto;
    padding-bottom: 25px;
    img {
        width: 120px;
        height: 40px;
        filter: invert(100%);
        padding-left: 15px;
      }
      
      i{
        font-size: 12px;
      padding: 0 8px 0 0;

    }
    a{
        text-decoration: none;
        color: white;
        font-size: 17px;
    }
}
.fa-hands-helping, .fa-utensils{
  padding: 0 10px 0 0;
}

.nav-footer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 80%;
  min-width: 280px;
  height: auto;
  margin: auto;
  
  div{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
    min-width: 200px;
    margin: 10px;
    a:hover{
      transition: 0.3s;
      color: $couleur-primaire;
    }
  }
}
/* Footer END*/