@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;400;500;700;900 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Shrikhand & display=swap");
.presentation button:hover {
  opacity: 0.8;
  -webkit-box-shadow: 0 10px 20px #b1b1b1;
          box-shadow: 0 10px 20px #b1b1b1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.fontionnement button:hover {
  background: #f5edff;
  -webkit-box-shadow: 0 10px 20px #b1b1b1;
          box-shadow: 0 10px 20px #b1b1b1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.fontionnement button:hover i {
  color: #9356dc;
}

.btt-commander:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 10px 20px #b1b1b1;
          box-shadow: 0 10px 20px #b1b1b1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.restaurant__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

/* Animation du coeur */
.restaurant__like {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.restaurant__like:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 1;
  cursor: pointer;
}

.restaurant__like:hover + .restaurant__dislike {
  color: transparent;
}

/* Animation du coeur END (association pour les designers sans inspirations)*/
/* Animation cards restaurants page d'accueil */
#restaurants .card-restaurants:hover {
  -webkit-box-shadow: 0 10px 20px #b1b1b1;
          box-shadow: 0 10px 20px #b1b1b1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#restaurants .card-restaurants:hover img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
}

#restaurants .card-restaurants:active {
  -webkit-animation: scale-out-center 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: scale-out-center 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
}

/* Animation cards restaurants page d'accueil END*/
/* Animation des cards menu */
.card1 {
  -webkit-animation: fade-in-bottom 1s 0.5s both;
          animation: fade-in-bottom 1s 0.5s both;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.card2 {
  -webkit-animation: fade-in-bottom 1s 0.5s both;
          animation: fade-in-bottom 1s 0.5s both;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.card3 {
  -webkit-animation: fade-in-bottom 1s 0.5s both;
          animation: fade-in-bottom 1s 0.5s both;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.card4 {
  -webkit-animation: fade-in-bottom 1s 0.5s both;
          animation: fade-in-bottom 1s 0.5s both;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.card5 {
  -webkit-animation: fade-in-bottom 1s 0.5s both;
          animation: fade-in-bottom 1s 0.5s both;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.card6 {
  -webkit-animation: fade-in-bottom 1s 0.5s both;
          animation: fade-in-bottom 1s 0.5s both;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.card7 {
  -webkit-animation: fade-in-bottom 1s 0.5s both;
          animation: fade-in-bottom 1s 0.5s both;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.card8 {
  -webkit-animation: fade-in-bottom 1s 0.5s both;
          animation: fade-in-bottom 1s 0.5s both;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.card9 {
  -webkit-animation: fade-in-bottom 1s 0.5s both;
          animation: fade-in-bottom 1s 0.5s both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.card10 {
  -webkit-animation: fade-in-bottom 1s 0.5s both;
          animation: fade-in-bottom 1s 0.5s both;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* Animation des cards menu END*/
/* Animation de la div check menu*/
.card-menu:hover {
  -webkit-box-shadow: 0 10px 20px #b1b1b1;
          box-shadow: 0 10px 20px #b1b1b1;
  cursor: pointer;
}

.card-menu:hover .menu-text {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-width: 230px;
}

.card-menu:hover .menu-prix {
  padding-right: 70px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.card-menu:hover .menu-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slide-left 0.5s ease;
          animation: slide-left 0.5s ease;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.card-menu:hover .fa-check {
  -webkit-animation: rotate 0.5s both;
          animation: rotate 0.5s both;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  color: #99E2D0;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

/* Animation de la div check menu*/
/* Header */
* {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  -webkit-box-shadow: 0 5px 10px #c5c5c5;
          box-shadow: 0 5px 10px #c5c5c5;
  margin-bottom: 7px;
}

header img {
  width: 150px;
}

/* Header END*/
.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #c5c5c5e7;
  -webkit-animation: loading 0s 1s both;
          animation: loading 0s 1s both;
}

.lettre {
  color: #484848;
  font-size: 30px;
  letter-spacing: 10px;
  margin-bottom: 150px;
  -webkit-animation: flash 1.2s linear infinite;
          animation: flash 1.2s linear infinite;
  font-family: "Roboto", sans-serif;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-9999px);
            transform: translateX(-9999px);
  }
}

@-webkit-keyframes flash {
  0% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
}

@keyframes flash {
  0% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
}

.lettre:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fondu-out {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

/* Page d'accueil */
.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
  height: 50px;
  color: black;
}

.localisation i {
  margin-right: 15px;
}

.localisation input {
  border: none;
  background-color: #eaeaea;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  width: 110px;
  padding: 0;
  outline: none;
}

.localisation input::-webkit-input-placeholder {
  color: black;
}

.localisation input:-ms-input-placeholder {
  color: black;
}

.localisation input::-ms-input-placeholder {
  color: black;
}

.localisation input::placeholder {
  color: black;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  height: 16em;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

.presentation h1 {
  margin: 15px 20px 0;
  font-size: 24px;
  font-weight: bold;
}

.presentation p {
  padding: 20px;
}

.presentation button {
  padding: 15px;
  border: none;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356dc));
  background: linear-gradient(#FF79DA, #9356dc);
  color: white;
  -webkit-box-shadow: 0 10px 20px #c5c5c5;
          box-shadow: 0 10px 20px #c5c5c5;
  font-family: "Roboto", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 210px;
  margin: 15px;
}

.fontionnement {
  padding: 20px 5px;
}

.fontionnement h2 {
  display: block;
  margin-top: 15px;
  margin-left: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.fontionnement div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px 0;
}

.fontionnement button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 70px;
  margin: 15px 25px;
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  -webkit-box-shadow: 0 10px 20px #c5c5c5;
          box-shadow: 0 10px 20px #c5c5c5;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fontionnement button .fonctionnement-number {
  position: absolute;
  background-color: #9356dc;
  width: 20px;
  height: 20px;
  padding: 7px;
  color: white;
  border-radius: 100%;
  left: -20px;
}

.fontionnement i {
  color: #7e7e7e;
  padding: 0 15px;
}

#restaurants {
  background: #f6f6f6;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  padding: 15px 0px;
}

#restaurants .grid-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  width: 90%;
  max-width: 1600px;
  margin: 15px auto;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#restaurants .card-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px;
  min-width: 280px;
  max-width: 320px;
  min-height: 200px;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 20px #c5c5c5;
          box-shadow: 0 10px 20px #c5c5c5;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#restaurants .card-restaurants a {
  width: 100%;
  height: 100%;
}

.img-restaurants {
  width: 100%;
  min-height: 130px;
  position: relative;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.img-restaurants img {
  width: 100%;
  min-height: 100px;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: translate(0%, -25%);
          transform: translate(0%, -25%);
}

.titre-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 90%;
}

.titre-main h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 23px;
  margin-left: 15px;
  margin-top: 20px;
}

.resto-nouveau::before {
  content: "Nouveau";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 25px;
  background: #99E2D0;
  top: 0;
  right: 0;
  -webkit-transform: translate(-15px, 15px);
          transform: translate(-15px, 15px);
  color: #2c9c81;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-radius: 2px;
  font-size: 13px;
  z-index: 3;
}

.body-restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 50px;
  padding: 10px 15px;
  font-size: 18px;
}

.body-restaurants h3 {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.body-restaurants p {
  font-family: "Roboto", sans-serif;
  padding-top: 5px;
  font-size: 15px;
}

/* Page d'accueil END */
/* Page menu */
.header-menu {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 70px;
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
}

.header-menu img {
  width: 150px;
}

.img-bg {
  min-width: 300px;
  height: 40vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.img-bg img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  width: 100%;
  margin-bottom: -50px;
}

main h1 {
  font-family: "Shrikhand", cursif;
  font-size: 25px;
  font-weight: 500;
}

main h2, main h3, main p {
  font-family: "Roboto", sans-serif;
}

.menu {
  background: #F6F6F6;
  border-radius: 50px  50px 0 0;
  -webkit-transform: translate(0, -50px);
          transform: translate(0, -50px);
  margin-bottom: -50px;
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.section-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
  height: auto;
}

.entree, .plats, .desserts {
  min-width: 300px;
  width: 80%;
  max-width: 350px;
  height: auto;
  padding: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.titre-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.titre-menu i {
  font-size: 25px;
}

.soustitre-menu::after {
  content: '';
  width: 55px;
  height: 3px;
  background: #99E2D0;
  position: absolute;
  z-index: 20;
  left: 15px;
  top: 40px;
}

.soustitre-menu h2 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.trait-titre {
  width: 40px;
  height: 3px;
  background: #99E2D0;
  margin: 2px;
}

.card-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: white;
  margin: 20px 0;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 20px #c5c5c5;
          box-shadow: 0 10px 20px #c5c5c5;
  min-width: 250px;
  max-width: 500px;
  height: 80px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.card-menu .menu-text {
  white-space: nowrap;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-width: 180px;
}

.card-menu .menu-text h3, .card-menu .menu-text p {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 15px;
}

.card-menu .menu-text h3 {
  font-size: 15px;
  margin-bottom: 4px;
}

.card-menu .menu-text p {
  font-size: 13px;
}

.menu-prix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: right;
  width: 60px;
  max-width: 70px;
  font-size: 0.9em;
}

.menu-check {
  display: none;
  position: absolute;
  background-color: #99E2D0;
  text-align: right;
  border-radius: 0 20px 20px 0;
  color: white;
  height: 80px;
  min-width: 70px;
  max-width: 100px;
  right: 0;
}

.btt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.btt-commander {
  padding: 15px;
  border: none;
  border-radius: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356dc));
  background: linear-gradient(#FF79DA, #9356dc);
  color: white;
  -webkit-box-shadow: 0 10px 20px #c5c5c5;
          box-shadow: 0 10px 20px #c5c5c5;
  font-family: "Roboto", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 210px;
  margin: 15px;
}

/* Page menu END */
/* Footer */
footer {
  background: #353535;
  color: white;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  height: auto;
  padding-bottom: 25px;
}

footer img {
  width: 120px;
  height: 40px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  padding-left: 15px;
}

footer i {
  font-size: 12px;
  padding: 0 8px 0 0;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.fa-hands-helping, .fa-utensils {
  padding: 0 10px 0 0;
}

.nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 80%;
  min-width: 280px;
  height: auto;
  margin: auto;
}

.nav-footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 200px;
  margin: 10px;
}

.nav-footer div a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #9356dc;
}

/* Footer END*/
/*# sourceMappingURL=style.css.map */